$theme-colors: (
  'info': tomato,
  'danger': teal
);

$bg-color: #6c0808;
$text-color: #fff;

.navbar-custom {
  background-color: #ccd9ff;
  color: $text-color;
}

/* import bootstrap to set changes */
@import '~bootstrap/scss/bootstrap';